<!DOCTYPE html>
<html>

<head>
    <title>TITLE HERE</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div id="top-bar">
        <img src="logo.png" alt="Logo" id="logo">
        <h1>HEAAD LABLE</h1>
        <div id="custom-dropdown">
            <button id="dropdown-button">All Investors</button>
            <div id="dropdown-content" class="dropdown-content">
            </div>
        </div>
    </div>
    <div id="map"></div>
    <footer id="page-footer">
        <span class="footerlable">Site Name</span>
        <div id="footer-icons">
            <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="mailto:example@example.com"><i class="fas fa-envelope"></i></a>
        </div>
    </footer>
    <button id="footer-toggle" onclick="toggleFooter()">▲</button>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="js/base.js"></script>
    <script src="js/footer"></script>
</body>

</html>