<!DOCTYPE html>
<html>

<head>
    <title>TITLE HERE</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
</head>

<body>
    <div id="top-bar">
        <img src="logo.png" alt="Logo" id="logo">
        <h1>HEAAD LABLE</h1>
        <div id="custom-dropdown">
            <button id="dropdown-button">Filter: All Investors</button>
            <div id="dropdown-content" class="dropdown-content">
                <!-- Options will be populated here -->
            </div>
        </div>
    </div>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="base.js"></script>
</body>

</html>