<!DOCTYPE html>
<html>

<head>
    <title>Investors List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div id="top-bar">
        <img src="img/logo.png" alt="Logo" id="logo">
        <h1>HEAAD LABLE</h1>
    </div>
    <div id="investors-list">
        <% investors.forEach(investor=> { %>
            <div class="investor">
                <h5>
                    <%= investor.name %>
                </h5>
                <p>Website: <a href="<%= investor.website %>">
                        <%= investor.website %>
                    </a></p>
                
            </div>
            <% }) %>
    </div>
    <h2>Comments</h2>
    <div id="comments-section">
        <!-- TODO -->
    </div>
    <script src="js/comments.js"></script>
</body>

</html>